html{
    font-family: Poppins,sans-serif;
}
#navbar{
    width: 100%;
    height: 75px;
    display: flex;
    border: 1px solid red;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
}
.nav-element{
    align-content: center;
    height: 100%;
    border: 1px solid green;
    margin-right: 3%;
    padding: 0 20px;
}