html{
    font-family: Poppins,sans-serif;
}
body{
    margin: 0;
}
a{
    text-decoration: unset;
    color: var(--link-color);
}
#navbar{
    width: 100%;
    height: 75px;
    display: flex;
    border: 1px solid red;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #6D9DC5;
}
.nav-element{
    align-content: center;
    height: 100%;
    border: 1px solid green;
    margin-right: 3%;
    padding: 0 20px;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #53599a; 
    align-items: center;
    justify-content: center;
}
#welcome-section h1{
    color:#f0f0f0;
    font-size: 4em;
    margin-bottom: 0;
}
#welcome-section p{
    color:#f0f0f080;
    margin-top: 0;
    font-size: 2em;
    font-style: italic;
}
#projects{
    height: 150vh;
    background-color: #068D9D;
}