:root{
    --link-color: #F0F0F0;
}

html{
    font-family: Poppins,sans-serif;
}
body{
    margin: 0;
}
a{
    text-decoration: unset;
    color: var(--link-color);
    
}
#navbar a{
    font-size: 1.5em;
    transition: 0.3s ease-in-out 1ms;
}
#navbar a:hover{
    background-color: rgba(127, 255, 212, 0.315);
}
#navbar{
    width: 100%;
    height: 75px;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    background-color: #6D9DC5;
}
.nav-element{
    align-content: center;
    height: 100%;
    margin-right: 3%;
    padding: 0 20px;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #53599a; 
    align-items: center;
    justify-content: center;
}
#welcome-section h1{
    color:#f0f0f0;
    font-size: 4em;
    margin-bottom: 0;
}
#welcome-section p{
    color:#f0f0f080;
    margin-top: 0;
    font-size: 2em;
    font-style: italic;
}
#projects{
    border: 1px solid transparent;
    margin-top: 0%;
    padding-bottom: 20px;
    background-color: #00d8a2;
    text-align: center;
}
#projects h1{
    font-size: 2em;
}
#project-container{
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.project-image{
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center center;
}
.image-1{
    background-image: url('https://github.com/hashirkhanfr/FCC-portfolio/blob/main/odin-landing-page.png?raw=true'); }

.image-2{
    background-image: url('https://github.com/hashirkhanfr/FCC-portfolio/blob/main/FCC-landing-page.png?raw=true');  }
.image-3{
    background-image: url('https://github.com/hashirkhanfr/FCC-portfolio/blob/main/survey-form.png?raw=true');   }

.project-tile{
    margin: 10px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.project-tile {
    transition: transform 0.3s ease-in-out;
}

.project-tile:hover {
    transform: scale(1.04);
}
.project-text{
    background-color: rgb(226, 110, 110);
    font-size: 1.5em;
}
#CTA{
    border: 1px solid transparent;
    background-color: #6D9DC5;
    color: #f0f0f0;
    text-align: center;
}
#CTA h1{
    font-size: 3.5em;
    margin-bottom: 0;
}
#CTA p{
    margin-top: 0;
    font-size: 1.5em;
}
#CTA a{
    text-decoration: underline;
}
@media screen and (max-width: 1024px){
    .project-tile,.project-image{
        height: 350px;
        width: 350px;
    }

}
@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    .project-tile,.project-image{
        height: 250px;
        width: 250px;
    }
}